.vscode
/backend/routes/__pycache__/*.pyc
/routes/__pycache__/
/backend/venv
/backend/Depencies
/backend/__py*
/backend/Dep*
.vercel
./__pycache__/
*.pyc
.idea
*.out
*.log
/backend/virtual
venv/

.bash_history
.bash_history*
*.tmp
*.log
.aws/
config
credentials
.anydesk/
anydesk.trace
user.conf
.npm/
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.env
venv/
.DS_Store
Thumbs.db

.vscode/
.idea/